extends layout

block content
	.container
		h1.mt-4= title
		!= messages()
		.card.login.shadow.mb-4.mt-2
			.card-body
				h5.card-title Change Email
				form(method='post', action='/profile/change-email')
					.form-group
						label Current Email Address
						input.form-control(type='email' name='username' value=username readonly)
					.form-group
						label New Email Address
						input.form-control(type='email' name='new_username' required placeholder='Enter new email')
						if errors
							error in errors
								.small.text-danger= message
					button.btn.btn-primary(type='submit') Change Email
		.card.login.shadow
			.card-body
				h5.card-title Change Password
				form(method='post', action='/profile/change-password')
					.form-group
						label New Password
						input.form-control(type='password' name='newPassword' required placeholder='Enter new password')
						if errors
							for error in errors
								if error.param=='newPassword'
									.small.text-danger= error.msg
					.form-group
						label Confirm New Password
						input.form-control(type='password' name='newPassword2' required placeholder='Must match new password')
						if error_type == 'password_match'
							.small.text-danger= message
					button.btn.btn-primary(type='submit') Change Password